.mainDivision {
  padding-left: 10%;
}
.inputBox {
  width: 300px;
  font-size: 25px;
}

.heading {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.title {
  font-size: 30px;
  font-weight: 600;
  border: none;
  width: 280px;
}

.removeButton {
  font-size: 25px;
  cursor: pointer;
}
