.mainDivision {
  padding-left: 10%;
}

.inputBox:focus {
  font-size: larger;
}

.heading {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.pointer {
  cursor: pointer;
}
