.todoItem {
  display: flex;
  font-size: large;
  margin-bottom: 10px;
  cursor: pointer;
}

.notDone,
.doing,
.done {
  width: 15px;
  height: 15px;
  border: solid 1px grey;
  margin-right: 10px;
  margin-top: 3px;
}

.notDone {
  background-color: lightblue;
}

.doing {
  background-color: orange;
}

.done {
  background-color: mediumseagreen;
}

.strikedText {
  text-decoration: line-through;
}
