.flex {
  max-width: 300px;
  display: flex;
  justify-content: space-between;
}

.todoItem {
  display: flex;
  font-size: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  max-width: 280px;
}

.notDone,
.doing,
.done {
  width: 20px;
  height: 20px;
  border: solid 1px grey;
  margin-right: 10px;
  margin-top: 3px;
}

.notDone {
  background-color: lightblue;
}

.doing {
  background-color: orange;
}

.done {
  background-color: mediumseagreen;
}

.itemTitle {
  max-width: 250px;
  overflow-x: auto;
}

.strikedText {
  text-decoration: line-through;
}

.closeButton {
  font-size: 25px;
  cursor: pointer;
}

.hide {
  display: none;
}
